/* =============================================================================
** reset and base styles
============================================================================= */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  min-height: 100dvh;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3 {
  margin-bottom: 1rem;
}

/* =============================================================================
** handle dark and light mode
============================================================================= */

:root {
  color-scheme: dark light;
}

/* =============================================================================
** layout
============================================================================= */

header,
main,
footer {
  padding: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-shrink: 0;
  border-bottom: 1px solid rgb(127 127 127);
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

header div {
  display: flex;
  gap: 1rem;
}

main {
  flex-grow: 1;
}

footer {
  flex-shrink: 0;
  border-top: 1px solid rgb(127 127 127);
  text-align: center;
}
